*{
  color: white;
}
body{
  background-color: rgb(36, 36, 36);
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: orangered;
}
.section{
  height: 100vh;
}
#nav-link{
  color: white;
}
#nav-link:hover{
  color: orangered;
}
.home{
  padding: 70px 0;
}
.container nav{

}
.container nav ul{
  display: flex;
}
.container nav ul li{
  margin: 1rem;
  padding: 1em;
  list-style-type: none;
}
.container nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: w800;
}
.container nav ul li a:hover{
  color: orangered;
}

.main-text{
  font-size: 70px;
  color: rgb(75, 75, 75);
  padding-bottom: 0;
  font-weight: bold;
}
.main-textone{
  font-weight: bold;
  font-size: 100px;
  color: white;
}
.orangetext{
  color: orangered;
}
p{
  font-size: 23px;
}
table{
  text-align: center;
  font-weight: 200;
  
}
td{
  padding: 30px;
  
}
.card-title{
  color: orangered;
  text-align: center;
}
.card-text{
  color: rgb(27, 27, 27);
  text-align: center;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orangered; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media (max-width: 768px) {
  *{
    max-width: 90%;
  }
  .section{
    height: 150vh;
  }
  .main-textone{
    font-size: 50px;
  }
  #profileimg{
    width: 300px;
  }
  .abouttext{
    margin-bottom: 800px;
  }
  #about{
    height: 150vh;
  }
  #skills{
    margin-top: 500px;
    height: 150vh;
  }
  .contact{
    width: 100%;
  }
}